<header>
  <div class="navbar bg-body-tertiary py-4 border-bottom">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <a
        href="/orders.html"
        class="d-flex align-items-center link-body-emphasis text-decoration-none"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="52" height="21" viewBox="0 0 78 32" fill="none">
          <path d="M55.5 0H77.5L58.5 32H36.5L55.5 0Z" fill="#FF7A00" />
          <path d="M35.5 0H51.5L32.5 32H16.5L35.5 0Z" fill="#FF9736" />
          <path d="M19.5 0H31.5L12.5 32H0.5L19.5 0Z" fill="#FFBC7D" />
        </svg>
        <span class="small mx-2 fw-semibold" style="color: #FF7A00">TableServe</span>
      </a>
      <div class="dropdown me-4">
        <a
          href="#"
          class="d-flex text-secondary align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <div
            style="width: 3rem; height: 3rem"
            class="d-flex bg-primary-subtle fs-5 text-secondary align-items-center justify-content-center rounded-circle me-2"
          >
            JR
          </div>
          <strong>Jordan Reyes</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile action</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="/signin.html">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
