<nav
  class="nav nav-pills d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary border-end"
  style="width: 280px"
>
  <span class="text-secondary fw-bold mb-2">Serve</span>
  <a class="nav-link" href="/orders.html">
    <svg class="bi pe-none me-2" width="16" height="16" fill="currentColor">
      <use href="/assets/bootstrap-icons.svg#cart" />
    </svg>
    Orders
  </a>
  <a class="nav-link" href="/menuitems.html">
    <svg class="bi pe-none me-2" width="16" height="16" fill="currentColor">
      <use href="/assets/bootstrap-icons.svg#journal-text" />
    </svg>
    Menu
  </a>
  <a class="nav-link" href="/categories.html">
    <svg class="bi pe-none me-2" width="16" height="16" fill="currentColor">
      <use href="/assets/bootstrap-icons.svg#tags" />
    </svg>
    Categories
  </a>
  <a class="nav-link" href="/staff.html">
    <svg class="bi pe-none me-2" width="16" height="16" fill="currentColor">
      <use href="/assets/bootstrap-icons.svg#people" />
    </svg>
    Staff
  </a>
</nav>
